<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="DiffEngine" version="6.4.9" targetFramework="net48" />
  <package id="EmptyFiles" version="2.3.3" targetFramework="net48" />
  <package id="Microsoft.ApplicationInsights" version="2.23.0" targetFramework="net48" />
  <package id="Microsoft.CodeCoverage" version="16.5.0" targetFramework="net48" />
  <package id="Microsoft.CSharp" version="4.7.0" targetFramework="net48" />
  <package id="Microsoft.NET.Test.Sdk" version="16.5.0" targetFramework="net48" />
  <package id="Microsoft.Testing.Extensions.Telemetry" version="2.0.2" targetFramework="net48" />
  <package id="Microsoft.Testing.Extensions.TrxReport.Abstractions" version="2.0.2" targetFramework="net48" />
  <package id="Microsoft.Testing.Extensions.VSTestBridge" version="2.0.2" targetFramework="net48" />
  <package id="Microsoft.Testing.Platform" version="2.0.2" targetFramework="net48" />
  <package id="Microsoft.Testing.Platform.MSBuild" version="2.0.2" targetFramework="net48" />
  <package id="Microsoft.TestPlatform.AdapterUtilities" version="18.0.1" targetFramework="net48" />
  <package id="Microsoft.TestPlatform.ObjectModel" version="18.0.1" targetFramework="net48" />
  <package id="NUnit" version="3.13.3" targetFramework="net48" />
  <package id="NUnit3TestAdapter" version="6.0.1" targetFramework="net48" />
  <package id="Shouldly" version="4.0.3" targetFramework="net48" />
  <package id="System.Buffers" version="4.5.1" targetFramework="net48" />
  <package id="System.Collections.Immutable" version="8.0.0" targetFramework="net48" />
  <package id="System.Diagnostics.DiagnosticSource" version="6.0.0" targetFramework="net48" />
  <package id="System.Memory" version="4.5.5" targetFramework="net48" />
  <package id="System.Numerics.Vectors" version="4.5.0" targetFramework="net48" />
  <package id="System.Reflection.Metadata" version="8.0.0" targetFramework="net48" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="6.0.0" targetFramework="net48" />
  <package id="System.Runtime.InteropServices.RuntimeInformation" version="4.3.0" targetFramework="net48" />
</packages>